<div class="container">
    <h1 class="mt-4 mb-3"> Formulario Solicitud de Información</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Formulario</li>
    </ol>
    <form action="">
      <h2>Solicitud de Acceso a la Información</h2>
        <div class="card w-100">
          <h4 class="card-header">Datos del Solicitante</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="form-group">
                  <label for="Nombre">Nombre/s</label>
                  <input type="text" name="nombre" placeholder="Nombre/s" class="form-control">
                  <small>*Obligatorio</small>
                </div>  
              </div>
              <div class="col-md-6 mx-auto">
                <div class="form-group">
                  <label for="Nombre">Apellido/s</label>
                  <input type="text" name="apellido" placeholder="Apellido/s" class="form-control">
                  <small>*Obligatorio</small>
                </div>  
              </div>
              <div class="col-md-4 mx-auto">
                <div class="form-group">
                  <label for="Nombre">N° de Documento</label>
                  <input type="text" name="dni" placeholder="DNI" class="form-control">
                  <small>*Obligatorio</small>
                </div>  
              </div>
              <div class="col-md-4 mx-auto">
                <div class="form-group">
                  <label for="Nombre">DNI</label>
                  <input type="file" name="dniFile" id="dniFile" class="form-control-file" accept="image/*, .doc, .docx, .pdf" required>
                  <small>*Obligatorio</small>
                </div>  
              </div>
              <div class="col-md-4 mx-auto">
                <div class="form-group">
                  <label for="Nombre">CUIL</label>
                  <input type="file" name="cuilFile" id="cuilFile" class="form-control-file" accept="image/*, .doc, .docx, .pdf" required>
                  <small>*Obligatorio</small>
                </div>  
              </div>
            </div>
          </div>
        </div>
    </form>
</div>